*{
    body{
        /* we are removing gap in browser  */
        margin:0; 
        /* we are removing inner space */
        padding:0;
        font-family: sans-serif;
        box-sizing: border-box;
    }
}
/* header part */
header{
    height:20vh;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
}
.logo{
    font-size:32px;
    font-weight:bold;
    color: white;
}
.search-box input{
    padding:10px;
    width:250px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}
.search-box button{
    padding:10px 20px;
    background-color: gold;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.user-actions{
    color: white;
    margin-left: 20px;
    font-size: 18px;
    cursor:pointer;

}
/* main section part */
main{
    height:60vh;
    background-color: whitesmoke;
    display: flex;
}
.card-container{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-wrapper{
    display:flex;
     gap:30px;
}
.card{
     background-color: white;
     padding:20px;
     border:2px solid black;
     border-radius:15px;
     text-align:center;
     width:220px;
     box-shadow: 0px 5px 15px gray;
     transition: transform 0.4s;
}
.card:hover{
    transform: translateY(-10px);
    background-color: wheat;
    cursor: pointer;
}
.card button{
    background-color: tomato;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius: 5px;
   margin-top: 10px;
}
.video-container{
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid lightgray;
}
.video-box{
    width:80;
    height:300px;
    background-color: black;
    border:5px solid tomato;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 20px gray;
}
.video-box video{
    width:100%;
    height:100%;
    object-fit: cover;

}